.footerContainer {
    width: 100%;
    height: 50vh;
    background-color: #f7f5f3;
    
    /* background-color: #f7fafa; */
}

.footerGrid {
    /* width: 100%; */
    /* height: 100%; */
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.footerColumn {
    /* border: 1px solid black; */
    overflow: hidden;
    padding: 0.3rem;
    width: 30%;
    border-top: black 1px solid;
    /* padding: 1rem; */
}

.columnList {
    margin-top: 0.5rem;
    list-style: none;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.listItemColumn {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
}

.listItemColumn:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}
.columnTitle{
    
    font-size:1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    color: #2e2e2e;
    margin-bottom: 2rem;
}
.columnTitle::before{
    position: absolute;
    content: "";
    border-radius: 0.5rem;
    width: 8rem;
    height: 0.25rem;
    bottom: -0.5rem;
    left: 0rem;
    background-image: linear-gradient(to top right, #ff9933, #ff6600);
    transition: all;
    transition-duration: 100s;
    transition: ease-in-out;
}
.signUpText{
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 500;
}

.subscribeContainer{
    display: flex;
    margin-top: 0.5rem;
}
.emailInput{
    flex: 3;
    padding: 8px;
    border: 1px solid black;
    border-right: none;
}
.btnSubscribe{
    flex: 1;
    padding: 8px 16px;
    background-color: black;
    cursor: pointer;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    
}
.btnSubscribe:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}
.copyright{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 16px;
}

.socialmediaicons{
    padding-left: 0.8rem;
    font-size: 1.9rem;
    color: rgb(0, 195, 255);
}






