
.container{
    /* position: fixed; */
    top:0;
    /* left: 5rem; */
    min-width: 100vw;
    height:min-content;
    position: relative;
    align-self: center;
    margin: 0 0;
    overflow:visible;
    z-index: 50;
    /* padding: auto; */
    /* padding: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem; */
    /* position: absolute; */
}
.main-container{
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: relative;
    margin-bottom: 2rem;
    top:0;
}

.logo-container{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    position: relative;
    top: -2rem;
}
.logo{
    width:12rem;
    position: relative;
    top: 2rem;
    object-fit: cover;
}


.main-container a{
    text-decoration: none;
}

.menu-container{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    /* margin-top: 2rem; */
    margin-right: 2rem;
    margin-bottom: 2rem;
    position: relative;
    
    top: 2rem;
}



.menu{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;    
}



ul li{
    list-style: none;
    font-size: 1rem;
    color:#515151;
    transition-duration: 100ms;
    transition: all ease-in-out 100ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    width: 5rem;
    z-index:10;
   
}







 ul li:hover{
    color:#2e2e2e
 }

 .bag{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 .bag-icon{
    text-decoration-color: #515151;
    align-items: center;
    cursor: pointer;
    width: 1.5rem;
    font-size: 2rem;
    
 } 

 .circle{
    position: absolute;
    top:-0.8rem;
    right: -0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .num{
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    background-color: red;
    border-radius: 1.5rem;
    text-align: center;
    position: absolute;
    top: 0.05rem;
 }

.user{
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}


.dropDown{
    width: 10rem;
    background-color: #f9fafb;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:  9.5rem;
    right: 2.5rem;
    z-index: 999;
}
.dropDown p{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:0.75rem ;
    margin-left:0.75rem ;
    cursor: pointer;
}
.dropDown a{

    text-decoration: none;
    color: inherit;
}
.dropDown p:hover{
    background-color: #c7d2d9;
    transition-duration: 0.1s;
    transition-property: all;
    transition: ease-in-out;
    
    text-decoration-color: #515151;
    font-size: 1rem;
}






