@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* {
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
} */
 
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:1.5rem;
  margin-top: 0;
  padding-top: 0;
  z-index: 2000;
  /* min-height: 70vh; */
  background: linear-gradient(90deg, #f7ebebec 60%, #f7ebeb1f 40.1%);
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}
#payment-form{

  width: 70%;
  height: min-content;
  position: relative;
  top:1rem;
  z-index: 1999;
}
.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  width: auto;
}

.container form .row .col{
  flex:1 1 12rem;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 2rem;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:1rem;
  font-size: 1rem;
  background: #27ae60;
  color:#fff;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}
.row{
  display: flex;

} 